main {
    margin: 0;
    padding: 0;
}

.Dashboard {
    display: flex;

    .seller-profile {
        width: min-content;
        background-color: #fff;
        padding: 0;
        color: $clr10;

        .ProfileProgress {
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #dadbdd;
            margin: 0 40px 60px 0;
            padding: 30px 20px 50px;
            width: 400px;
            max-height: 400px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.09);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.09);

            .profile {
                display: flex;
                justify-content: space-between;
                position: relative;

                .img-container {
                    width: 120px;
                    height: 120px;
                    border-radius: 10.4375em;
                    overflow: hidden;
                    margin-bottom: 15px;
                    position: relative;
                    display: inline-block;
                }

                .online-status {
                    position: absolute;
                    bottom: 20px;
                    left: 90px;
                    width: 20px;
                    height: 20px;
                    background-color: #4CAF50;
                    border: 2px solid white;
                    border-radius: 50%;
                }

                .user-desc {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 120px;
                    margin-inline-start: 20px;


                    .profile-item {
                        padding: 8px;
                        display: flex;
                        flex-direction: column;

                        p {
                            margin: 0;
                        }

                        div {
                            font-weight: bold;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .profileStatusProgress {
                li {
                    margin: 30px 0;

                    .css-6u4q40-MuiLinearProgress-bar1 {
                        background-color: #555555;
                        padding: 5px;
                    }

                    .css-1fze73x-MuiLinearProgress-root {
                        padding: 0.2rem;
                        background-color: #d6d6d6;
                        border-radius: 15px;

                    }
                }

                p {
                    margin: 0;
                    font-weight: bold;
                }
            }
        }
    }

    h3 {
        color: $clr10;

    }

    th {
        font-weight: bold;
        color: $clr10;

    }

    td {
        font-weight: bold;
        color: $clr7;
        font-size: 15px;
    }

}

@media (max-width: 768px) {
    .Dashboard {
        display: flex;
        flex-direction: column;

        .title-column {
            display: none;

        }

        .seller-profile {
            .ProfileProgress {

                width: 330px;
                padding: 10px;
                margin: 0;
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.09);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.09);

                .profile {
                    width: 300px;
                    height: 90px;

                    .img-container {
                        width: 80px;
                        height: 80px;
                    }

                    .user-desc {
                        .profile-item {
                            padding: 5px;
                        }
                    }

                    .online-status {
                        position: absolute;
                        bottom: 12px;
                        left: 58px;
                        width: 15px;
                        height: 15px;
                    }
                }

                .profileStatusProgress {
                    width: 300px;

                    li {
                        margin: 5px;

                        .css-6u4q40-MuiLinearProgress-bar1 {
                            background-color: #555555;
                            padding: 5px;
                        }

                        .css-1fze73x-MuiLinearProgress-root {
                            padding: 0.2rem;
                            background-color: #d6d6d6;
                            border-radius: 15px;

                        }

                    }
                }
            }
        }

        .seller-orders {
            margin-top: 20px;

        }

        .css-quj9j6-MuiTable-root {
            min-width: 250px;

        }

        .css-q8hpuo-MuiFormControl-root {
            width: 140px;

        }

        .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
            width: 330px;
        }

        th {
            font-weight: 900;
            color: $clr7;
            max-width: 58px;
        }

        td.total {
            max-width: 38px;
        }

        td.status {
            max-width: 150px;
        }

        h3 {
            color: $clr9;
            opacity: 0.8;
        }
    }



}