.gig-index {
    .navigate {
        padding-block: 2rem;
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        button {
            margin-inline-end: 1.5rem;
        }

        span{
            margin-inline-end: .7rem;
        }
    }

    h1 {
        margin: 0;
        font-size: 2em;
    }

    .results-for{
        color: #222325;
        margin-top: 1em;
        font-weight: 400;
        span{
            font-weight: 700;
        }
    }

    h4 {
        margin-top: 1.5rem;
        color: $clr7;
        opacity: 0.8;
        font-weight: 100;
    }

    p {
        margin: 0;
    }

    .results{
        padding-top: 1em;
        color: #74767e;
    }
}