.gig-homepage {

    @include for-mobile-layout {
        .hero {
            background: linear-gradient(180deg, #003912 36.72%, #19aa64 141.43%);
            font-size: 0.66rem;
        }

        .company-logos {
            display: none;
        }


        .prime-categories-section {
            font-size: 0.759rem;

            ul {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                li:nth-of-type(1n+7) {
                    display: none;
                }
            }
        }
    }

    @include for-narrow-layout {
        .hero {
            background: linear-gradient(180deg, #003912 36.72%, #19aa64 141.43%);
            font-size: 0.66rem;
        }

        .company-logos {
            display: none;
        }


        .prime-categories-section {
            font-size: 0.759rem;

            ul {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                li:nth-of-type(1n+9) {
                    display: none;
                }
            }
        }
    }

    @include for-normal-layout {
        .hero {
            height: 438px;
            background-image: none;
            background-color: #003811;
            font-size: 0.933rem;
        }

        .company-logos {
            display: grid;
        }

        .prime-categories-section {
            font-size: 0.930rem;

            ul {
                grid-template-columns: unset;
                grid-template-rows: unset;

                li:nth-of-type(1n+9) {
                    display: block;
                }
            }
        }
    }

    @include for-wide-layout {
        .hero {
            background-color: #003811;
            height: 500px;
            font-size: 1rem;
        }

        .prime-categories-section {
            font-size: 1rem;

            ul {
                grid-template-columns: unset;
                grid-template-rows: unset;

                li:nth-of-type(1n+9) {
                    display: block;
                }
            }
        }
    }

    width: 100%;

    .hero {
        display: grid;
        align-items: center;
        justify-items: center;

        padding: 40px 20px;

        border-radius: 1em;

        .jenny {
            left: 7.865%;
            top: 0;
            width: calc(11.835% + (1335px - 100%) * 0.06);
        }

        .collin {
            left: 3.745%;
            bottom: 8.416%;
            width: calc(9.588% + (1335px - 100%) * 0.06);
        }

        .verinica {
            right: 23.595%;
            top: 0;
            width: calc(7.116% + (1335px - 100%) * 0.06);
        }

        .brurya {
            right: 7.86%;
            bottom: 0;
            width: calc(8.614% + (1335px - 100%) * 0.06);
        }

        .jordan {
            right: 3.97%;
            top: 9.619%;
            width: calc(10.861% + (1335px - 100%) * 0.06);
        }

        .hero-center {
            display: grid;
            width: auto;
        }

        .search-bar {
            form {
                height: 3.75em;
                border-radius: 0.75em;
            }

            button {
                border-radius: 0.5em;
                margin-inline-end: 0.375em;

            }
        }

        .hero-inner-text {
            text-align: center;
            text-wrap: wrap;
            z-index: 1;
            font-weight: 400;
            color: #fff;
            font-size: 3.75em;


            .freelance {
                color: #19aa64;
                word-spacing: 0.4em;
                font-family: 'Domaine Display', sans-serif;
                font-style: normal;
                padding-left: 0.3em;

            }
        }

        .company-logos {
            bottom: 2em;
            justify-content: center;
            gap: 1.5em;
            opacity: 0.7;
            color: #fff;
        }
    }

    .prime-categories-section {
        margin-top: 1.25em;

        .right-arrow,
        .left-arrow {
            cursor: pointer;
            z-index: 2;

            top: 50%;
            margin-top: -1.5em;
            height: 3em;
            width: 3em;

            color: #62646a;
            background-color: #ffffff;

            border-radius: 50%;
            filter: drop-shadow(0px 9px 5px #d3d3d38f);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-arrow {
            right: 0;
            transform: translateX(50%);
        }

        .left-arrow {
            left: 0;
            transform: translateX(-50%);
        }

        ul {
            width: 100%;
            overflow-x: scroll;
            gap: 0.75em;
            padding: 0.375em;
            justify-items: center;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                padding-inline-end: 0.3em;
                font-size: 0.875em;
                font-weight: 400;
                cursor: pointer;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
                width: 9.2em;
                height: 9.2em;
                border-radius: 1em;
                padding-inline-start: 0.95em;

                div {
                    margin-top: 1.2em;

                    margin-bottom: 2em;

                    img {
                        height: 1.5em;
                        width: 1.5em;
                    }
                }

                div:last-child {
                    font-weight: bold;
                    line-height: 1.38;

                }

                &:hover {
                    background: radial-gradient(63.44% 63.44% at 50% 50%, #c2ffe2 0, #fff 100%), #fff
                }
            }
        }

        .out-of-vp-indicator {
            background-color: transparent;
            height: 8px;
            z-index: 5;
            position: absolute;
            top: 30px;
        }
    }

    .home-video {
        video {
            position: absolute;
            bottom: 0;
            padding: 0;
            margin-inline-start: -10px;
        }

        border-radius: 1rem;
        background-color: #000238;
        overflow: hidden;
        position: relative;
        height: 37vw;
        padding: 10px;
        margin-top: 25px;
    }
}