.seller-register {
 
    h1 {
        
        margin: 30px auto;
        width: 770px;
    }

    form {
        width: 770px;
        height: fit-content;
        border: 1px solid $clr6;
        background: white;
        padding: 30px;
        margin: 0 auto;

        label {
            display: flex;
            gap: 20px;
            margin-bottom: 50px;
            // flex-direction: column;

            span {
                width: 200px;
                font-size: 1.2rem;
                flex-shrink: 0;
                font-weight: 600;
                color: #404145;
                // padding-top: 10px;

                p {
                    margin: 0;
                    margin-top: 10px;
                    font-size: .9rem;
                    color: #828385;
                    font-family: Macan-Regular;
                    font-weight: 400;
                    line-height: 21px;
                }
            }

            input {
                height: 50px;
                padding: 10px;
                width: 100%;
                font-size: 1rem;
                font-family: Macan-Regular;
                color: #404145;
                border: 1px solid rgba(0, 0, 0, .274);
                border-radius: 4px;
            }
        }

        div {
            display: flex;
            gap: 20px;
            margin-bottom: 50px;

            .flex-column {
                width: 200px;
                font-size: 1.2rem;
                flex-shrink: 0;
                font-weight: 600;
                color: #404145;
                padding-top: 10px;

                p {
                    margin-top: 10px;
                    margin: 0;
                    font-size: .9rem;
                    color: #828385;
                    font-family: Macan-Regular;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }

        label {
            .img-profile-uploader {
                width: 150px;
                height: 150px;
                position: relative;
                border-radius: 12em;
                overflow: hidden;
                cursor: pointer;

                .img-container {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                #imgUpload {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    visibility: hidden;
                }

            }

            textarea {
                width: 100%;
                height: 217px;
                padding: 10px;
                font-family: Macan-Regular;
                font-size: 1rem;
                line-height: 21px;
            }
        }
        .btn-form {
            display: flex;
            justify-content: space-around;
            margin: auto auto 20px;
            margin-top: 3rem;
          }
        
          .css-sghohy-MuiButtonBase-root-MuiButton-root {
            background-color: $clr8;
        
            &:hover {
              background-color: $clr8;
            }
          }
        
          .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: $clr8;
          }
    }
}
