.gig-details {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 5fr 55fr 5fr 30fr 5fr;
    align-items: start;

    .gig-details-side {
        width: 100%;
        top: 20px;
        position: sticky;
        display: grid;
        grid-column: 4;
        grid-row: 1;
      
    }

    .gig-overview {
        position: relative;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
        display: grid;

       
        .sidebar {
            position: initial;
        }

        h1,
        h2 {
            color: #404145;
        }

        // breadcrumbs
        .navigate {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            align-items: center;
            font-size: 0.9375rem;
            color: $clr7;
            gap: 0.5rem;
            margin-bottom: 2.2rem;


            &:hover {
                text-decoration: underline;
            }

            span {
                color: $clr5;
                opacity: 0.5;
            }
        }

        .gig-owner-brief {
            $owner-img-height: 3.6rem;
            margin-bottom: 1rem;
            display: grid;
            grid-template-columns: $owner-img-height auto;
            height: $owner-img-height;
            gap: 1rem;


            .gig-owner-img {
                border-radius: 50%;
                width: $owner-img-height;
                height: $owner-img-height;
                object-fit: cover;
            }

            .right-cell {
                display: grid;
                grid-template-rows: auto auto;

                .upper-row,
                .lowwer-row {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    align-items: center;
                }

                .upper-row {

                    .gig-owner-name {
                        font-weight: bold;

                        &::after {
                            content: '|';

                            color: #e4e5e7;
                            font-weight: 100;
                            padding-inline-start: 1rem;
                            padding-inline-end: 0.7rem;
                        }
                    }

                    .gig-owner-level {
                        height: 1.3rem;
                    }
                }

                .lowwer-row {
                    .orders-in-queue {
                        color: #74767e;
                        font-size: 0.8rem;
                        letter-spacing: 0.02rem;
                    }

                    .gig-owner-rate {
                        gap: 0.2rem;
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        font-weight: bold;

                        img {
                            height: 0.7rem;
                        }

                        &::after {
                            content: '|';

                            color: #e4e5e7;
                            font-weight: 100;
                            padding-inline-start: 1rem;
                            padding-inline-end: 0.7rem;
                        }
                    }
                }
            }
        }

        .carousel-container {
            width: 100%;
            overflow: hidden;
        }

        .about-gig {
            h2 {
                margin: 0;
                line-height: 1;
                font-size: 1.25em;
                padding-bottom: 1.5625em;
            }

            .gig-description {
                line-height: 1.5;
                color: $clr7;

                h3 {
                    margin: 0;
                    font-size: 1em;
                }

                p {
                    font-size: 1em;
                    margin: 0;
                    letter-spacing: 0.038em;
                    padding-bottom: 1.5em;
                }

                .no-padding {
                    padding: 0;
                }

                .italics {
                    font-style: italic;
                }
            }
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr;

        .gig-overview {
            .sidebar {
                display: initial;
            }
        }

        .gig-details-side {
            display: none;
        }

        .compare-packages {
            display: none;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 1fr;

        .gig-overview {
            .sidebar {
                display: initial;
            }
        }

        .gig-details-side {
            display: none;
        }

        .compare-packages {
            display: none;
        }
    }

    @include for-normal-layout {
        grid-template-columns: 3.94fr 52.906fr 8.345fr 30.849fr  3.94fr;

        .gig-overview {
            .sidebar {
                display: none;
            }
        }

        .gig-details-side {
            display: grid;
        }

        .compare-packages {
            display: initial;
        }
    }

    @include for-wide-layout {}
}