.gig-details {
    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        grid-column: 1;
    }

    .gig-overview {
        display: grid;
        grid-template-columns: 900px 276.5px;

        .gig-mini-user-gig {
            grid-column: 1;
        }

        .gig-reviewList {
            grid-column: 1;
        }

        .gig-reviewList {
            grid-column: 1;
        }
        .gig-reviews-carousel {
            grid-column: 1;
        }

        .about-gig {
            grid-column: 1;
        }
        .gig-page-reviews {
            grid-column: 1;

        }
        .review-filter {
            grid-column: 1;
        }
        .compare-packages {
            grid-column: 1;
        }

        .text-display {
            grid-column: 1;

            font-size: 28px;
            margin-bottom: 20px;
            text-align: start;
            letter-spacing: normal;
            color: #404145;
            line-height: 36.4px;
            font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


        .gig-carousel {
            margin-bottom: 20px;
            // width: 1000px;
            grid-column: 1;

        }

        .gig-description {
            margin-bottom: 20px;
            font-size: 18px;
            grid-column: 1;

        }
    }
    .read-more {
        color: #cecece;
        cursor: pointer;
        font-weight: bold;
      }
      
      .read-more:hover {
        text-decoration: underline;
      }
      .about-user-gig{
        grid-column: 1;

      }
}