.gig-details {
    width: 1304px;
    margin: auto;

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        grid-column: 1;
    }

    .gig-overview {
        display: grid;
        grid-template-columns: 834px 1fr;
        grid-template-rows: 20px 40px;
        gap: 20px;

        .navigate {
            width: 135px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            color: $clr7;

            span {
                color: $clr5;
                opacity: 0.5;
                // padding-left: 1px;
            }
        }

        .gig-mini-user-gig,
        .gig-reviewList,
        .gig-reviews-carousel,
        .about-gig,
        .gig-page-reviews,
        .review-filter,
        .compare-packages,
        .text-display,
        .gig-carousel,
        .gig-description,
        .about-user-gig,
        .react-multi-carousel-list {
            grid-column: 1;
        }

        .sidebar {
            grid-column: 2;
            grid-row: 2;

        }

        .about-gig {
            width: 42.5rem;
            color: #404145;
            h2 {
                font-size: 24px;
                
            }

            .gig-description {
                margin-bottom: 1em;
                line-height: 1.6;
                font-size: 17px;
                color: $clr7;

                p {
                    margin-left: 0;
                }
            }

        }


        .text-display {
            font-size: 28px;
            text-align: start;
            margin: 0;
            // letter-spacing: normal;
            color: #404145;
            line-height: 65px;

        }

        .gig-carousel,
        .gig-description {
            margin-bottom: 20px;
        }
    }

    .read-more {
        color: #cecece;
        cursor: pointer;
        font-weight: bold;
    }

    .read-more:hover {
        text-decoration: underline;
    }

    @media (max-width: 1200px) {
        .gig-overview {
            grid-template-columns: 800px;
        }
    }

    // @media (max-width: 768px) {
    //     h2 {
    //         font-size: 20px;
    //     }

    //     .gig-overview {
    //         grid-template-columns: 1fr;
    //         gap: 10px;
    //     }

    //     .text-display {
    //         font-size: 24px;
    //         line-height: 32px;
    //     }

    //     .gig-description {
    //         font-size: 16px;
    //     }
    // }

    // @media (max-width: 480px) {
    //     h2 {
    //         font-size: 19px;
    //         padding: 5px;
    //     }
    //     .gig-overview{
    //         gap: 0;
    //     }
    //     .text-display {
    //         font-size: 20px;
    //         line-height: 28px;

    //     }

    //     .gig-description {
    //         font-size: 16px;
    //         max-width: 360px;
    //     }
    // }
}

.item1 {
    margin-left: 76px;
    transition: transform 0.3s;
    width: 800px;

    &:hover {
        transform: scale(1.05);

    }

}