.gig-index {
    h1 {
        margin: 0;
        font-size: 2em;
    }

    h4 {
        margin-top: 1.5rem;
        color: $clr7;
        opacity: 0.8;
        font-weight: 100;
    }

    p {
        margin: 0;
    }
}