.about-user-gig {
    margin-top: 1rem;
    .general-info {
        $owner-img-height: 6rem;
        $white-circle : 0.2em;
        $green-circle : 0.3em;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: calc($white-circle + $green-circle + 1.1em);
        margin-bottom: 1.5em;

        .about-user-img {
            &:hover {
                .green-circle {
                    background: linear-gradient(225deg, #41e79a, #47c087 37.55%, #47c087 63.2%, #47c087);
                }
            }

            position: relative;
            width: $owner-img-height;
            height: $owner-img-height;

            img {
                position: absolute;
                border-radius: 50%;
                width: $owner-img-height;
                height: $owner-img-height;
                object-fit: cover;
            }

            .padding,
            .green-circle {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            .padding {
                width: calc(100% + $white-circle * 2);
                height: calc(100% + $white-circle * 2);
                background-color: #ffffff;
            }

            .green-circle {
                width: calc(100% + $white-circle * 2 + $green-circle * 2);
                height: calc(100% + $white-circle * 2 + $green-circle * 2);
                background: linear-gradient(225deg, #003912, #1dbf73 37.55%, #1dbf73 63.2%, #d0e500);
            }
        }

        .about-user-info {
            display: grid;
            align-content: space-between;

            .about-user-name {
                font-weight: 700;
                color: #404145;
            }

            .about-user-description {
                color: #62646a;
            }

            .lowwer-row {
                display: grid;
                grid-template-columns: max-content max-content max-content;
                align-items: center;

                .gig-owner-rate {
                    gap: 0.25rem;
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    font-weight: bold;

                    img {
                        height: 0.8rem;
                    }

                    margin-inline-end: 0.2em;
                }

                .review-count {
                    color: #74767e;
                    display: flex;
                    text-decoration: underline;

                    &::after {
                        content: '|';
                        color: #e4e5e7;
                        font-weight: 100;
                        padding-inline-start: 1.3em;
                        padding-inline-end: 0.7em;
                    }
                }


                img {
                    height: 1.3rem;
                }
            }
        }
    }

    .about-user-contact {
        width: 8.25em;
        font-size: 0.875em;
        font-weight: 600;
        color: $clr9;
        padding: 0.625em;
        border-radius: 0.25em;
        border: 1px solid $clr9;

        &:hover {
            background-color: #222325;
            color: $clr4;
        }

        margin-bottom: 2em;
    }


    .abuot-user-gig-info {
        padding: 1.5em;
        border: 1px solid $clr6;

        .user-info {
            display: grid;
            grid-template-columns: auto auto;
            color: $clr5;
            border-bottom: 1px solid $clr6;
            font-size: 1.3em;

            &>* {
                display: grid;
                gap: 0.4em;

                span {
                    color: #62646a;
                    font-weight: 700;
                }
            }
        }
    }

    .about-user-aboutUser {
        font-size: 1.35em;
        padding-top: 1.1em;

        line-height: 1.4;
        color: $clr7;
        margin: 0;
    }
}

.about-user-gig-header{
    margin-top: 1rem;
    font-size: 20px;
}