.app-header {
    position: relative;
    color: #74767e;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;
    margin-bottom: 42px;
    z-index: 4;
    top: 0;


    gap: 32px;

    height: $headerHight;
    align-items: center;

    .user-btn {
        // background-color: red;
        width: fit-content;
        width: 2rem;

    }

    .img-user {
        // width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-inline-end: 0.5rem;

    }

    .online-status {
        position: absolute;
        bottom: 0;
        right: -1px;
        width: 11px;
        height: 11px;
        background-color: #4CAF50;
        border: 2px solid white;
        border-radius: 50%;
    }

    .hamburger {
        width: 35px;
        cursor: pointer;
    }

    .logo {
        height: 27px;
        align-items: center;

        img {
            width: 110px;
        }

    }

    .search-bar {
        display: flex;
        transition: opacity 0.2s linear;
        height: 2.4em;


        form {
            align-items: center;



            .search-input {
                height: 100%;
                border: 1px solid #e4e5e7;
                border-top-left-radius: 0.3em;
                border-bottom-left-radius: 0.3em;
            }


            button {

                height: 100%;
                width: 2.8em;
                border-top-right-radius: 0.3em;
                border-bottom-right-radius: 0.3em;
                background-color: #000000;

                img {
                    // display: none;
                    height: 1em;
                    width: 1em;
                }

            }
        }

        .out-of-vp-indicator {
            background-color: transparent;
            height: 80px;
            position: absolute;
            bottom: 175%;
        }
    }

    .nav-links,
    .user-nav {
        gap: 1.5em;
        align-items: center;
    }

    .nav-links {
        .user-nav {

            // button {
            //     border: 1px solid #1dbf73;
            //     padding: 8px 15px;
            //     border-radius: 9px;
            //     font-weight: bold;
            //     color: #1dbf73;
            //     font-size: 15px;

            //     &:hover {
            //         background-color: #1dbf73;
            //         color: #ffffff;

            //     }
            // }

            li:hover {
                color: #1dbf73;
            }

            .header-link {
                white-space: nowrap;

            }

            .header-btn-style {
                color: #1dbf73;
                // border: 1px solid;

                &:hover {
                    // background-color: #1dbf73;
                    color: #ffffff;
                }
            }
        }

        .header-btn-style {
            padding: 0.625em 1em;
            border-radius: 0.25em;
            align-items: center;
            gap: 0.5em;

            &:hover {
                background-color: #fafafa
            }

            .arrow {
                height: 0.75em;
                width: 0.75em;
                transition: transform 0.2s;
            }
        }
    }

    .join-bar {
        display: grid;
        grid-auto-flow: column;
    }

    .prime-categories-section {

        .right-arrow,
        .left-arrow {
            cursor: pointer;
            overflow: hidden;

            top: calc(50% - 1em);
            height: 2em;
            width: 4em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-arrow {
            right: 0;
            transform: translateX(50%);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.884) 30%, rgb(255, 255, 255)100%);

        }

        .left-arrow {
            left: 0;
            transform: translateX(-50%);
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.672) 30%, rgb(255, 255, 255)100%);

        }

        transition: height 0.5s;
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        top: 0;
        top: $headerHight;
        height: $prime-filters-height;

        ul {
            height: 100%;
            width: 100%;

            overflow-x: scroll;
            gap: 1em;
            justify-content: space-between;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                height: 100%;
                cursor: pointer;
                text-wrap: nowrap;
                display: flex;
                align-items: center;

                .cat-img {
                    display: none;
                }

                div {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    &:hover {
                        box-shadow: inset 0px -3px 0px 0px #1dbf73;
                    }
                }
            }
        }
    }

    .user-orders {
        top: calc(100% + 0.5em);
        right: 0;

        background-color: #ffffff;
        border-radius: 0.5em;
        border: 1px solid #e4e5e7;
        color: #000000;
        padding: 0.5em;
        z-index: 5;
        display: grid;
        max-height: 80vh;
        overflow-y: scroll;
        width: max-content;
        justify-items: start;

        li {
            // max-width: 200px;
            // overflow-x: scroll;
            width: 100%;

            a {
                width: 100%;
                padding: 0.5em 1em;
                display: grid;
                align-items: center;
                grid-template-columns: auto 1fr;
                gap: 0.5em;
                grid-auto-flow: column;
                border-bottom: 1px solid #e4e5e7;

                img {
                    grid-column: 1;
                    height: 20px;
                    object-fit: cover;
                }

                .status {
                    text-align: start;
                    font-weight: bold;
                    grid-column: 2;
                }

                .by {
                    font-size: 0.9em;
                    text-align: start;
                    grid-column: 2;
                }

            }
        }
    }


    .profile-nav {
        left: unset;
        right: 0;
    }

    @include for-mobile-layout {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #e4e5e7;
        height: 100px;
        gap: 10px;
        margin-bottom: 1rem;

        >* {
            grid-row: 1;
        }


        .prime-categories-section {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .explore {
            display: none;
        }

        .search-bar {
            justify-self: center;
            grid-row: 2;
            grid-column: 1 / -1;
            width: 100%;
            opacity: 1;
        }

        .become-a-seller {
            display: none;
        }

        .nav-links {
            gap: unset;
        }

        .user-nav {
            gap: unset;

            .orders {
                display: none;
            }

        }

        .sign-in-link {
            display: none;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: auto auto 1fr auto;

        .sign-in-link {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .explore {
            display: none;
        }

        .become-a-seller {
            display: none;
        }

        .orders {
            display: none;
        }
    }

    @include for-normal-layout {
        grid-template-columns: auto 1fr auto;

        .hamburger {
            display: none;
        }

        .explore {
            display: grid;
        }

        .become-a-seller {
            display: initial;
        }

        .orders {
            display: initial;
        }
    }

    @include for-wide-layout {

        .hamburger {
            display: none;
        }
    }
}

.filler {
    z-index: 3;
    top: 0px;
    width: 100%;
    height: $headerHight;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;


    @include for-mobile-layout {
        height: 100px;
    }


}

.filler.left {
    grid-column: 1;
}

.filler.right {
    grid-column: 3;
}

.no-height {
    background-color: #1dbf73;
    height: 0px !important;
}

.full-liner {
    background-color: #e4e5e7;
    // z-index: 5;
    position: absolute;
    width: 100%;
    height: .1px;
    top: calc($headerHight + $prime-filters-height);


    @include for-mobile-layout {
        display: none;
    }
}

.header-sticky {
    position: sticky;
}