.freelance-talent {

    margin-bottom: 3em;
    h1,
    h2 {
        font-weight: 400;
        margin: 0;
        color: #404145;
    }

    h1 {
        margin-top: 1.5em;
        font-size: 3rem;
        letter-spacing: 0.03em;
        line-height: 1.1;
        margin-bottom: 1.4em;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 315px));
        justify-content: space-between;
        .card {
            display: grid;

            grid-template-rows: 3.45em 5.5em 6em;

            img{
                margin: 0;
            }

            h2{
                letter-spacing: 0.05em;
            }

            p {
                line-height: 1.5;
                margin: 0;
                color: #62646a;
            }
        }
    }


    @include for-mobile-layout {

        display: none;
    }
}