.gig-reviews-carousel {
  margin-top: 2rem;
  .carousel.carousel-slider {
    // background-color: red;
    position: static;

  
  }
  h2 {
    font-size: 20px;

  }

  .thumbs-wrapper {
    display: none;
  }

  .carousel-arrow {
    transform: translate(1px, 1px);
    font-size: 16px;
    position: absolute;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    span {
      display: none !important;
    }



    &.prev {
      left: 0;
      transform: translate(-50%, 58px);

      z-index: 1;

      &::after {
        position: absolute;
        content: '┏';
        transform: translate(-11px, -12px) rotate(-45deg);
      }
    }

    &.next {
      right: 0;
      transform: translate(50%, -92px);

      z-index: 1;

      &::after {
        position: absolute;
        content: '┏';
        transform: translate(-4px, -11px) rotate(135deg);
      }
    }
  }


  .control-dots {
    display: none;
  }

  li {
    .review-carousell {
      overflow: hidden;
      $profile-pic-size: 2.2em;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: max-content max-content max-content;
      gap: 1rem;
      border: 1px solid $clr6;
      padding: 1.25em;
      border-radius: 0.2em;
      color: #62646a;
      justify-items: start;

      .reviewer-img {
        border-radius: 50%;
        height: $profile-pic-size;
        width: $profile-pic-size;
        object-fit: cover;
        grid-row: 1 / -1;

      }

      .first-row {
        height: max-content;
        grid-column: 2;
        display: grid;
        align-items: center;
        grid-template-columns: max-content max-content max-content;
        gap: 0.6em;

        .reviewer-carousell-name {
          font-weight: bold;
        }

        .reviewer-carousell-loc {
          display: grid;
          grid-template-columns: max-content max-content max-content;
          width: fit-content;
          align-items: center;
          gap: 0.6em;

          &::after {
            content: ';';
            overflow: hidden;
            width: 0.1px;
            background-color: #95979d;

          }
        }

        .review-carousell-rate {
          color: #000000;
          font-weight: 700;
          align-items: center;
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: max-content;
          gap: 0.24em;
          align-items: center;

          img {
            height: 1em;
          }

          div {
            padding-top: 0.1em;
          }

        }
      }

      .review-carousell-txt {
        width: unset;
        padding-inline-end: 1rem;
        text-align: start;
        grid-column: 2;


        height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .review-carousell-time {
        color: #95979d;
        grid-column: 2;
        font-size: 0.875em;
      }
    }
  }
}