.search-bar {
    form {
        width: 100%;
        grid-template-columns: 1fr auto;
        background-color: #ffffff;
        align-items: center;

        input[type=text] {
            padding-inline-start: 1em;
        }

        .search-input {


            all: unset;
            border: none;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3em;
            width: 3em;
            background-color: #003912;

            img {
                height: 1.125em;
                width: 1.125em;
            }
        }
    }
}