.user-msg {
    position: fixed;
    top: 80px;
    right: .12em;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 1em;
    padding-inline-end: 20px;
    background-color: grey;

    color: rgb(21, 114, 3);
    font-size: 1.2em;
    border: 1px solid rgb(21, 114, 3);
    border-left: 10px solid rgb(21, 114, 3);

    opacity: 0;
    translate: 150%;
    transition: 600ms;
}

.user-msg.visible {
    opacity: 1;
    translate: 0;
}

.user-msg button {
    // background-color: $gray1;
    padding: 1px 6px;
    border: 0;
    border-radius: 50%;
    color: $gray4;
    margin-right: 20px;
}

.user-msg.success {
    background-color: rgb(255, 255, 255);
}

.user-msg.error {
    background-color: rgb(216, 59, 59);
}