.about-user-gig {
    margin-top: 40px;
    width: 42.5rem;

    h2 {
        margin-bottom: 20px;
        font-size: 23px;
        color: #404145;
    }

    .about-user-img {
        display: flex;
        margin-bottom: 20px;

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    .about-user-info {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-rows: 1.7rem 2.5rem auto;

        .about-user-name {
            font-size: 17px;
            font-weight: bold;
            color: #333;
            margin-top: 10px;

        }

        .about-user-description {
            font-size: 16px;
            color: #474747;
            line-height: 1.6;
            grid-column: 2;
            margin-top: 10px;
        }

        .about-user-contact {
            grid-column: 1 / 2;
            grid-row: 4;

            width: 132px;
            font-size: 17px;
            color: $clr9;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            background-color: $clr4;
            border: 1px solid $clr9;

            &:hover {
                background-color: #222325;
                color: $clr4;
            }

        }

        .about-user-rate {
            grid-column: 2;
            grid-row: 3;
            font-weight: 600;
            font-size: 16px;

            span {
                color: $clr6;
                padding-left: 30px;

            }
        }

        .about-user-level {
            grid-column: 2;
            grid-row: 3;
            margin-left: 100px;
            font-size: 16px;
            margin-top: 0.3rem;
        }
    }

    .abuot-user-gig-info {
        border: 1px solid $clr6;
        margin-top: 25px;

        .user-info {
            display: grid;
            grid-template-columns: auto auto;
            color: $clr5;
            border-bottom: 1px solid $clr6;
            padding: 20px;
            // gap: 20px;
            font-size: 18px;

            .about-user-loc {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-Member-since {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-response-time {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-languages {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-last-delivery {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            span {
                color: $clr10;
                font-weight: 700;
            }
        }

        .about-user-abuotUser {
            color: $clr7;
            padding: 14px;
        }
    }

    .about-user-aboutUser {
        font-size: 17px;
        padding: 20px;

        color: $clr7;
        margin: 0;
    }

    @media (max-width: 1200px) {
        .about-user-gig {
            width: 30rem;
        }
        .abuot-user-gig-info {
            width: 38rem;
        }
        .about-user-info{
            width: 80%;
        }
    }

    @media (max-width: 1100px) {
        .abuot-user-gig-info {
            width: 34rem;
        }
    }
    @media (max-width: 960px) {
        .abuot-user-gig-info {
            width: 30rem;
        }
    }
    @media (max-width: 890px) {
        .abuot-user-gig-info {
            width: 26rem;
        }
        .about-user-info{
            width: 26rem;
            grid-template-rows: 30px;

        }
    }

}