.about-user-gig {
    border-radius: 8px;

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    .about-user-img {
        display: flex;
        margin-bottom: 20px;

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    .about-user-info {
        display: grid;
        grid-template-columns: 100px 1fr 50px;
        grid-template-rows: 20px 1fr auto;
        gap: 20px;

        .about-user-name {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin-top: 10px;

        }

        .about-user-description {
            grid-column: span 2;
            font-size: 16px;
            color: #444;
            line-height: 1.6;
            grid-column: 2;
            margin-top: 10px;


        }

        .about-user-contact {
            grid-column: 1 / 2;
            grid-row: 4;

            width: 120px;
            font-size: 16px;
            color: $clr9;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            background-color: $clr4;
            border: 1px solid $clr9;

            &:hover {
                background-color: #222325;
                color: $clr4;
            }

        }

        .about-user-rate {
            grid-column: 2;
            grid-row: 3;


            span {
                color: $clr6;
                padding-left: 30px;

            }
        }

        .about-user-level {
            grid-column: 2;
            grid-row: 3;
            margin-left: 100px;

        }
    }

    @media (max-width: 768px) {
        .about-user-info {
            grid-template-columns: 1fr;
        }

        .about-user-img img {
            width: 80px;
            height: 80px;
        }
    }

    .abuot-user-gig-info {
        border: 1px solid $clr6;
        margin-top: 25px;
        padding: 20px;

        .user-info {
            display: grid;
            grid-template-columns: auto auto;
            color: $clr5;
            border-bottom: 1px solid $clr6;
            padding: 20px;
            gap: 20px;

            .about-user-loc {
                display: flex;
                flex-direction: column;
                gap: 7px;
            }

            .about-user-Member-since {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-response-time {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-languages {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            .about-user-last-delivery {
                display: flex;
                flex-direction: column;
                gap: 7px;

            }

            span {
                color: $clr10;
                font-weight: 700;
            }
        }

        .about-user-abuotUser {
            color: $clr7;
            padding: 20px;
        }
    }
}