.app-header {
    display: flex;
    height: 80px;
    background-color: $clr4;
    border-bottom: 1px solid #e4e5e7;

    nav {
        display: flex;
        align-items: center;
        gap: 1em;
        font-size: .8em;
        margin-left: 282px;
        width: 1292px;

        .active {
            color: $clr1;
        }

        .dot {
            font-weight: bold;
            color: #1dbf73;
        }

        .logo {
            font-size: 1.4em;
            font-weight: bold;
            margin-inline-end: 26.2em;

        }


        button {
            color: $clr1;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid $clr1;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: $clr1;
                border-color: $clr1;
            }
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .btn-link {
            color: $clr2;
        }
    }
}