.app-header {
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;

    align-items: center;

    .search-bar {
        transition: opacity 0.2s linear;
        width: 100%;
    }

    .logo {
        font-family: 'logo-font';
    }

    .nav-links {
        display: flex;
        align-items: center;
        border: solid 1px;
        margin-left: 2rem;

        .nav-link {
            padding-right: 1.5rem;
            white-space: nowrap;
        }
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1.5rem;
        width: 100%;
    }

    .join-bar {
        display: grid;
        grid-auto-flow: column;
    }

}