.react-multi-carousel-list {
  position: static !important;
  ul {
    li {

      background-color: #f5f5f5;
      display: flex;
      align-items: center;

      div {
        width: 100%;


        img {
          margin-block: auto;
          width: 100%;
          object-fit: cover;
          transition: transform 0.8s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .react-multiple-carousel__arrow--right {
    right: calc(0%);
    transform: translateX(50%);
  }

  .react-multiple-carousel__arrow--left {
    left: calc(0);
    transform: translateX(-50%);

  }


  .react-multiple-carousel__arrow {
    background-color: rgb(255, 255, 255) !important;
    filter: drop-shadow(0 3px 2px #00000034);

  }

  .react-multiple-carousel__arrow::before {
    color: $clr9;
  }
}

.carousel-status {
  display: none;
}