.carousel-img {
    width: 100%;
    aspect-ratio: 30 / 18;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #fff, #b5b6ba);
    border-radius: 0.5rem;

    .arrow-prev,
    .arrow-next {
        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translate(0%, -50%);
        transition: all 0.3s linear;
    }

    .arrow-next {
        right: -1rem;
        left: auto;
    }

    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s linear;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}




@keyframes slideinleft {
  from {
  }

  to {
    left: 1rem;
  }
}