$yes: url('https://cdn.icon-icons.com/icons2/1369/PNG/512/-check_90383.png');
$no: url('https://cdn.icon-icons.com/icons2/1369/PNG/512/-check_90383.png');

.compare-packages {

  color: $clr9;

  h2 {
    margin-bottom: 20px;
  }

  table {
    border-block: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;

    td {
      border-inline: 1px solid #ddd;
      width: 25%;
      color: $clr7;

      &:first-child {
        font-size: 0.875em;
        padding-inline-start: 1rem;
      }
    }


    thead {
      tr {
        padding: 0;
        margin: 0;

        td {
          vertical-align: top;
          padding-top: 1.9em;
          text-align: start;
          padding-inline: 1em;

          &>* {
            padding-bottom: 1em;
            margin: 0;
          }

          .price{
            font-size: 1.1875rem;
          }

          .level{
            font-size: 1.1875rem;
            font-weight:bold;

          }

          .package-description{
            font-size: 0.875rem;
          }
        }
      }
    }

    tbody {
      tr {
        height: 3.1em;
      }

      td:not(:first-child) {
        text-align: center;
      }

     

      tr:nth-child(odd) {
        background-color: #f9f9f9;
      }

      tr:last-child {
        border-top: 1px solid #ddd;

        td {
          padding-block: 1em;
        }
      }
    }



    button {
      background-color: $clr9;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $clr7;
      }
    }

    td {
      .yes,
      .no {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: cover;
        background-repeat: no-repeat;

      }

      .yes {
        background-image: $yes;

      }

      .no {
        background-image: $no;
        opacity: 0.4;
      }
    }
  }
}