.gig-filter {
    display: grid;
    // grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    background-color: $clr4;
    padding: .5em;
    margin-top: 53px;

    h3 {
        grid-column: 1 / -1;
        font-size: rem(14px);
        margin: 0;
    }

  

    input:is([type="text"], [type="number"]) {
        height: 1.8em;
        border: none;
        border-block-end: 1px solid $gray1;
        position: absolute;
        left: 380px;
        margin-top: 120px;
        padding: 26px;
        width: 550px;
        border-radius: 8px;
        font-size: 17px;
        // &:focus {
        //     outline: none;
        //     background-color: $gray1;
        // }
    }

    .btn-search {
        width: max-content;
        background-color: $clr8;
        border: none;
        position: absolute;
        left: 880px;
        top: 297px;
        padding: 10px;
        border-radius: 5px;
    }

    .btn-search:hover {
        background-color: $clr9;
    }

    @font-face {
        font-family: 'MacanPanWeb-Bold';
        src: url('src/assets/styles/fonts/macan/MacanPanWeb-Book.woff2');
    }

    .filter-h1 {
        position: absolute;
        left: 390px;
        top: 130px;
        text-align: center;
        font-size: 56px;
        letter-spacing: -2.24px;
        color: rgb(255, 255, 255);
        font-family: 'MacanPanWeb-Bold', sans-serif;

        font-weight: 400;
        letter-spacing: -1.6px;
        line-height: 115%;
    }

    .filter-h1 strong {
        font-size: 56px;
        letter-spacing: -1.68px;
        color: #1dbf73;

        font-family: Domaine Display, DomaineDisplay, Helvetica Neue
    }



    .btn-clear {
        grid-column: 4;
    }

    .sort-field,
    .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em;

        // margin-inline-start: .4em;

        font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid $gray1;
        }

        &:has(:checked) span {
            background-color: $clr3;
            color: $gray1;
        }
    }
}