.gig-list {
    --min-column-size: 219px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;

    li {
        width: 100%;
    }
}