.link-icons {
  width: fit-content;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.link-icon-menu,
.link-icon-sharing,
.link-icon-more,
.link-icon-heart {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon-count {

  border: 1px solid $clr6;
  border-radius: 0.3125rem;


}

.link-icon-menu {

  opacity: 0.4;
  width: 1.125rem;

}

.link-icon-sharing {

  border: 1px solid $clr6;
  border-radius: 0.3125rem;

  padding: 5px;

}

.link-icon-more {
  border: 1px solid $clr6;
  border-radius: 0.3125rem;
  padding: 5px;

}

.link-icon-heart {

  opacity: 0.3;
  // width: 1.125rem;

}

.icon-image {
  width: 1.25rem;
  // height: auto;
  
}

.icon-count {
  // margin: 0 0.5rem;
  padding: 5px;
}

// @media (max-width: 1400px) {
//   .link-icons {
//     position: sticky;
//     // top: 7rem;
//     // right: 2rem;
//     // margin-top: 0.5rem;
//   }
// }