.gig-owner-details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 85px 8.2rem 500px;
  grid-template-rows: 40px;
  grid-column: 1;

  .gig-owner-img {

    img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }

  .gig-owner-name {
    grid-column: 2;
    grid-row: 1;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 11px;
    color: #404145;
  }
  .gig-owner-level {
    grid-column: 2;
    grid-row: 1;
    font-size: 18px;
    margin: 0;
    margin-top: 11px;
    color:$clr7;

  }

  .gig-owner-rate {
    grid-column: 2;
    grid-row: 2;
    font-size: 18px;
  }

  span {
    color: $clr6;
    opacity: 0.8;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

  }
  .gig-owner-level{
    grid-column: 3;

  }


  .gig-owner-loc {
    grid-column: 3;
    grid-row: 1;
    font-size: 18px;
    margin-left: 20px;
  }

  .orders-in-queue {
    color: $clr7;
    grid-column: 3;
    grid-row: 2;
    font-size: 18px;
    margin: 0;
  }
}