.gig-owner-details {
  display: grid;
  grid-template-columns: 100px 80px 100px;
  grid-template-rows: 50px 30px 70px auto;
  grid-column: 1;

  .gig-owner-img {
    padding-right: 10px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
  }
  }

  .gig-owner-name,
  .gig-owner-rate {
    grid-column: 2;
    font-size: 20px;
  }

  .gig-owner-level,
  .gig-owner-name {
    margin-top: 20px;

  }

  span {
    color: $clr9;
    opacity: 0.3;
    align-items: center;
  }

  .gig-owner-level,
  .gig-owner-loc {
    grid-column: 3;
    grid-row: 1;
    font-size: 20px;
    margin-left: 20px;
  }
}