.preview {
    display: grid;

    .preview-header {
        margin-block-start: 0.75rem;
        font-size: 0.875rem;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.3em;

        .owner-profile-pic {
            border-radius: 50%;
            height: 1.5rem;
            padding-inline-end: 0.5em;
        }

        &,
        .ad-by {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
        }

        .level {
            height: 1.5rem;
            margin-inline-end: 0.5rem
        }

    }

    .title {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .is-pro {
        // width: fit-content;
        display: grid;
        align-items: center;

        grid-template-columns: max-content max-content;
        color: rgb(255, 255, 255);
        background-color: rgb(46, 37, 173);
    }

    .description {
        line-height: 1.5;
        color: #404145;

        :hover {
            text-decoration: underline;
        }
    }

    .description:hover {
        text-decoration: underline;
    }

    .rating::after,
    .star::after {
        content: ' ';
    }

    .from-price {
        &:hover {
            cursor: pointer;
        }
    }

    .from-price,
    .average-rating {
        margin-block-start: 0.5rem;
        line-height: 1.5;
    }

}