.gig-reviews-carousel {
  width: 42.5rem;
  .carousel-root {
    outline: none;
    width: 42rem;
}
  h1 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #404145;
  }

  .review {
    margin-left: 5px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: auto 55px 250px 1fr;
    grid-template-rows: 40px auto auto;
    text-align: start;
    margin-top: 40px;
    border-bottom: 1px solid $clr6;

    .reviewer-img {
      width: 55px;

      img {
        margin: 5px 2px;
        border-radius: 50%;
        height: 44px;
        width: 47px;
        grid-column: 2;
      }
    }

    .name-and-loc {
      line-height: 1.2;
      grid-column: 2;
      grid-row: 1;

      .reviewer-name,
      .reviewer-loc {
        font-size: 16px;
        margin-left: 5px;
      }
    }

    .review-txt {
      grid-column: 2 / span 3;
      grid-row: 3;
      margin-left: 5px;
      font-size: 16px;
    }

    .review-rate {
      grid-column: 2;
      margin-left: 5px;
      font-size: 16px;
      color: $clr9;
    }
  }

  .stars-container {
    display: flex;

    .full-star {
      font-weight: 600;
    }

    span {
      align-items: center;
    }
  }

  .carousel-arrow {
    font-size: 16px;
    align-items: center;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    span {
      display: inline-block;
    }

    &.prev {
      left: -12px;
      z-index: 1;
    }

    &.next {
      right: -15px;
      z-index: 5;
    }
  }

  .review-carousell {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 80px 90px 95px 1fr;
    grid-template-rows: 20px 40px;
    border: 1px solid $clr6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: start;
    align-items: center;
    margin-top: 20px;
    height: 140px;

    .reviewer-carousell-img {
      grid-row: 1;
      height: 38px;
      width: 39px;

      img {
        border-radius: 50%;
        margin: 10px 30px;
        height: 36px;
        grid-column: 1;
        object-fit: cover;

      }
    }

    .reviewer-carousell-name,
    .reviewer-carousell-loc,
    .review-carousell-rate {
      font-size: 16px;
      color: $clr9;
      opacity: 80%;
    }

    .reviewer-carousell-name {
      grid-column: 2;
    }

    .reviewer-carousell-loc {
      grid-column: 3;

      span {
        padding-left: 10px;
        color: $clr6;

      }
    }

    .review-carousell-txt {
      grid-column: 2 / span 4;
      grid-row: 2;
      color: $clr9;
      opacity: 80%;
    }

    .review-carousell-rate {
      color: $clr9;
      grid-column: 4;
      font-size: large;
    }
  }

  @media (max-width: 1200px) {
    .carousel-root {
      width: 38rem;
    }
  }

  @media (max-width: 1100px) {
    .carousel-root {
      width: 36rem;
    }
  }

  @media (max-width: 1024px) {
    .carousel-root {
      width: 34rem;

      .review-carousell {
        grid-template-columns: 80px 92px 90px ;
  
      }
    }

    
  }

  @media (max-width: 960px) {
    .carousel-root {
      width: 30rem;

      .review-carousell {
        grid-template-columns: 80px 92px 90px ;
  
      }
    }
  }
  @media (max-width: 890px) {
    .carousel-root {
      width: 26rem;

      .review-carousell {
        grid-template-columns: 80px 92px 90px ;
      }
      .review-carousell-txt{
        margin-top: 7px;
      }
    }
  }

  @media (max-width: 768px) {
    .review-carousell {
      display: none;
    }

    h1 {
      display: none;
    }

    .carousel-root {
      display: none;

    }
  }
}