.search-bar {
    width: 100%;
    form {
        width: 100%;
        height: 3.75em;
        grid-template-columns: 1fr auto;
        background-color: #ffffff;
        border-radius: 0.75em;
        align-items: center;

        .search-input {
            all: unset;
            border: none;

            &::placeholder {
                padding-inline-start: 0.625em;
            }
          
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3em;
            width: 3em;
            border-radius: 0.5em;
            margin-inline-end: 0.375em;
            background-color: #003912;

            img{
                height: 1.125em;
                width: 1.125em;
            }
        }

    }
}