.search-bar {
    form {
        grid-template-columns: 1fr auto;

        .search-input {
            background-color: green($color: #000000);
        }

        button{
            background-color: #000000;
        }

    }
}