.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #c8cbd4;
    height: 300px;
    width: 277px;
    position: fixed;
    top: 220px;
    left: 1200px;

    .package-options {
        flex-direction: column;
        gap: 10px;

        button {
            padding: 16px;
            border: 1px solid $clr5;
            color: #74767e;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            position: relative;
            background-color: #f3f3f3;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: transparent;
                transition: background-color 0.3s ease;
            }

            &.active {
                color: $clr9;
                background-color: #ffffff;


                &:after {
                    background-color: $clr9;
                }
                margin-bottom: 15px;
            }
        }
    }

    .package-details {
        display: flex;
        gap: 110px;
        margin-left: 10px;
        font-weight: bold;
        color: #404145;
        margin-bottom: 10px;

        h4 {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        label {
            font-size: 1.2rem;
        }
    }

    .sidbar-des {
        margin-left: 10px;

    }

    .sidebar-btn-price {
        width: 80%;
        font-size: 16px;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        line-height: 16px;
        border-radius: 5px;
        background-color: $clr9;
        margin: 0px auto;
        display: flex;
        justify-content: end;
        gap: 45px;
        align-items: center;

        &:hover {
            background-color: $clr10;
        }
        margin-bottom: 8px;
    }

    .link {
        text-align: center;
        font-size: 14px;
        color: $clr9; 
    
        &:hover {
            text-decoration: none;
            color: darken($clr9, 10%); 
        }
    }
    
}