.sidebar {
    border: 1px solid $clr6;
    position: sticky;
    color: $clr10;

    section {
        padding-top: 2em;
        padding-inline: 1.4em;
    }

    .package-options {
        button {
            background-color: #fafafa;
            padding-block: 1.3em;
            border: 1px solid $clr6;
            width: calc(100% / 3);

            color: $clr7;
            font-weight: 600;
            font-size: 1em;
            line-height: 1;

            cursor: pointer;

            &.active {
                color: #222325;
                border-bottom: unset;
                background-color: unset;
                box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.75);
            }
        }
    }

    .package-details {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: #404145;
        margin-bottom: 13px;

        h3 {
            font-size: 1rem;
            line-height: 1.5;
            margin: 0;
        }

        label {
            font-size: 1.25em;
            font-weight: 400;
        }
    }

    .sidebar-delivery {
        margin-bottom: 13px;
        color: #404145;
        font-size: 0.875em;
        display: flex;
        gap: 10px;
        justify-content: start;

        img:last-child {
            margin-left: 0.5em;
        }
    }

    .collapsible-content {
        h4 {
            cursor: pointer;
            display: grid;
            justify-items: start;
            grid-auto-flow: column;
            font-size: 0.875em;
            align-items: center;
            // color: #62646a;
        }

        img {
            width: 20px;
            height: 20px;
        }

        li {
            display: flex;
            color: #95979d;
            gap: 12px;
            margin-bottom: 3.55px;
            font-size: 0.875em;

            img {
                width: 16px;
            }
        }
    }

    .sidebar-btn-price {
        position: relative;
        width: 100%;
        font-weight: bold;
        color: #ffffff;
        padding: 11px;
        border-radius: 3px;
        background-color: $clr9;
        gap: 7.2rem;
        // text-align: center;
        margin-top: 18px;

        .button-icon{
            position: absolute;
            right: 0;
            top:100%;
            // transform: translateY(-50%);
        }

        &:hover {
            background-color: $clr10;
        }
    }

    .link {
        margin-block: 1.5em;
        text-align: center;
        font-size: 14px;
        color: $clr9;

    }
}