// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

//Line height

.lh21 {
    line-height: 21px;
}

.lh26 {
    line-height: 26px;
}

//colors

.co-grey-1000 {
    color: $clr12;
}

.co-grey-1100 {
    color: $clr13;
}

//profile img
.profileImg {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

// Media helpers



.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.bold {
    font-weight: 700;
}

.text-semi-bold {
    font-weight: 600;
}

.transparent {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.grid-column {
    display: grid;
    grid-auto-flow: column;
}