.main-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, $main-layout-max) minmax(2rem, 1fr);
    position: relative;
    min-height: calc(100vh);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    footer {
        align-self: end;
    }

    @include for-mobile-layout {
        grid-template-columns: minmax(.7rem, 1fr) minmax(0, $main-layout-max) minmax(0.7rem, 1fr);

    }
}

