.main-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, $main-layout-max) minmax(2rem, 1fr);
    position: relative;
    min-height: calc(100vh - 1.5rem);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    footer {
        align-self: end;
    }



}

.main-container-side-by-sidy {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}