@font-face {
    font-family: 'macan-regular';
    src: url(../../fonts/macan/MacanPanWeb-Regular.eot); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'macan-bold';
    src: url(../../fonts/macan/MacanPanWeb-Bold.eot); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'logo-font';
    src: url(../../fonts/Fontspring-DEMO-dexapro-narrow-800-extrabold.otf);
}

