
@font-face {
    font-family: 'Domaine display';
    src: url(../../assets/fonts/domaine-display/DomaineDispNar-Regular.otf); 
}
@font-face {
    font-family: 'macan-regular';
    src: url(../../assets/fonts/macan/MacanPanWeb-Regular.eot); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'macan-bold';
    src: url(../../assets/fonts/macan/MacanPanWeb-Bold.eot); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'macan-semi-bold';
    src: url(../../assest/fonts/macan/MacanPanWeb-Semibold.eot); /* IE9 Compat Modes */
}





@font-face {
    font-family: 'logo-font';
    src: url(../../assets/fonts/Fontspring-DEMO-dexapro-narrow-800-extrabold.otf);
}

