// Colors
$clr1: #1dbf73;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #ffffff;
// $clr7: #222;
$clr8: #26582d;




$clr5: #8a8a8a;
$clr6: #e4e5e7;
$clr7: #686868;
$clr9: #000000;
$clr10: #575757;
$clr11: #fafafa;
$clr12: #62646a;
$clr13: #404145;
$clr14: #efeff0;


$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
// Breakpoints

$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1160px;


$main-layout-max: 1340px;
$headerHight: 5em;
$prime-filters-height: 40px;